
:root {
  --color_bot:#3C8372;
  --color_bar:#1E594B;

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.back {
  padding: 32px 0;
  background-color: var(--color_bar);
}
header .navbar a{
  background: #fff;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property:;
}

header .navbar a:not(:last-child){
  margin-right: 30px;
}
header .navbar a:hover{
  background: #fff;
}
.caja1{
  max-width:650px;
  margin: 60px 100px;
}

.caja1 h2 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height:60px ;
  margin-bottom: 30px;
}

.caja1 p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}
.caja1 .info-btn {
  color: #fff;
  background:var(--color_bot) ;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 8px;
}
.caja1 .info-btn:hover{
  background: #84CCB9;
}

.caja1 img {
  position: relative;
}
